#!/bin/bash
export XX_CCLOUD_ENV= ID of your ccloud environment
export XX_CCLOUD_EMAIL=You login user for ccloud
export XX_CCLOUD_PASSWORD=your password for ccloud
export XX_CCLOUD_CLUSTERNAME=DEMODATAFLOW
